.vz-wrapper,
.vz-wrapper.-canvas {
    position: relative;
    height: 100vh;
    width: 100%;
    cursor: pointer;
}

.vz-wrapper {
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#6A3E91), to(#000000));
    background: -webkit-radial-gradient(circle, #6A3E91, #000000);
    background: -moz-radial-gradient(circle, #6A3E91, #000000);
    background: -ms-radial-gradient(circle, #6A3E91, #000000);
    box-shadow: inset 0 0 160px 0 #000;
    display: flex;
}

#myCanvas {
    display: block;
    flex-grow: 1; 
}

.vz-wrapper.-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: initial;
    width: initial;
    background: transparent;
    box-shadow: none;
}

body {
    margin: 0;
}

.title {
    position: absolute;
    top: 20px; /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    color: #cafdff; /* Utiliza el mismo color que tienen las barras */
    font-size: 40px; /* Ajusta el tamaño del texto según sea necesario */
    font-family: 'Helvetica', sans-serif; /* Puedes cambiar la fuente según tus preferencias */
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.9);
}

.names-list {
    margin-top: 5%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 15%;
    height: 80vh;
    background: #172726;
    background: transparent;
    /*padding: 20px;*/
    padding-left: 20px;
    border-radius: 10px; /* Agrega bordes redondeados a la tarjeta */
    /*box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Agrega una sombra suave */
}

.name, .names-list h2, .names-list h3{
    color: #cafdff;
    font-size: 16px;
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.7);
}

.names-list h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
}

.names-list h3 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 15px;
}

.name-list {
    list-style: none;
    padding: 0;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info img {
    max-width: 60px; /* Ajusta el ancho máximo según tus preferencias */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 10px; /* Espacio entre la imagen y el nombre de usuario */
}

.user-info p {
    margin: 0;
    color: #cafdff;
    font-size: 18px; /* Ajusta el tamaño del texto según tus preferencias */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.7); /* Efecto de sombra en el texto */
}