body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #191f36;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #191f36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-player {
    /* Estilos para el reproductor de música, ajusta según tu diseño */
    color: #fff; /* Color del texto, puedes personalizarlo */
}

.wave-container {
    margin-top: 20px;
    position: relative;
    width: 150px; /* Ajusta según tu diseño */
    height: 150px; /* Ajusta según tu diseño */
}

.wave {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px; /* Ancho de las ondas, ajusta según tu diseño */
    height: 50%;
    background-color: #fff; /* Color de las ondas, puedes personalizarlo */
    border-radius: 10px; /* Ajusta según tu diseño */
    animation: waveAnimation 1s ease-in-out infinite; /* Animación de las ondas */
}

@keyframes waveAnimation {
    0%, 100% {
        height: 10%;
    }
    50% {
        height: 50%;
    }
}
